<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add 
    key="Microsoft.ServiceBus.ConnectionString" 
    value="Endpoint=sb://simonb-dev/ServiceBusDefaultNamespace;StsEndpoint=https://simonb-dev:9355/ServiceBusDefaultNamespace;RuntimePort=9354;ManagementPort=9355"  
    />
    <!--value="Endpoint=sb://george/ServiceBusDefaultNamespace;StsEndpoint=https://george:9355/ServiceBusDefaultNamespace;RuntimePort=9354;ManagementPort=9355" -->
</appSettings>
